.main {
  max-width: 960px;
  margin: 0 auto;
  padding: var(--gap-10x) var(--padding-m);
  font-size: var(--typography-body-m);
}

.main a {
  color: var(--text-link);
}

.title {
  margin: 0 0 var(--gap-2x);
  color: var(--text-heading);
  font-size: var(--typography-heading-h4);
  font-weight: var(--weight-semibold);
}
